<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product
    Id="*"
    Name="Rastery"
    Language="1033"
    Version="$(var.Version)"
    Manufacturer="Rastery"
    UpgradeCode="F4C82B4A-B265-4B80-9810-54205F686C9D">
    <Package
      InstallerVersion="500"
      Compressed="yes"
      InstallScope="perMachine"
      Platform="x64" />
    <MajorUpgrade
      DowngradeErrorMessage="A newer version of Rastery is already installed." />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />
    <Icon
      Id="RasteryIcon"
      SourceFile="crates\rastery-app\assets\icons\rastery.ico" />
    <Property Id="ARPPRODUCTICON" Value="RasteryIcon" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="Rastery">
          <Component
            Id="ApplicationExecutable"
            Guid="97941FCD-E71E-4F12-AD25-DD070ECC628F"
            Win64="yes">
            <File
              Id="RasteryExe"
              Name="rastery.exe"
              Source="$(var.CargoTargetBinDir)\rastery.exe"
              KeyPath="yes">
              <Shortcut
                Id="StartMenuShortcut"
                Directory="RasteryProgramMenu"
                Name="Rastery"
                Description="Native image toolbox"
                WorkingDirectory="INSTALLFOLDER"
                Advertise="yes" />
            </File>
            <ProgId
              Id="Rastery.Image"
              Description="Image file"
              Icon="RasteryExe"
              IconIndex="0">
              <Extension Id="png" ContentType="image/png">
                <Verb
                  Id="open_png"
                  Command="Open with Rastery"
                  TargetFile="RasteryExe"
                  Argument="&quot;%1&quot;" />
              </Extension>
              <Extension Id="jpg" ContentType="image/jpeg">
                <Verb
                  Id="open_jpg"
                  Command="Open with Rastery"
                  TargetFile="RasteryExe"
                  Argument="&quot;%1&quot;" />
              </Extension>
              <Extension Id="jpeg" ContentType="image/jpeg">
                <Verb
                  Id="open_jpeg"
                  Command="Open with Rastery"
                  TargetFile="RasteryExe"
                  Argument="&quot;%1&quot;" />
              </Extension>
              <Extension Id="webp" ContentType="image/webp">
                <Verb
                  Id="open_webp"
                  Command="Open with Rastery"
                  TargetFile="RasteryExe"
                  Argument="&quot;%1&quot;" />
              </Extension>
              <Extension Id="bmp" ContentType="image/bmp">
                <Verb
                  Id="open_bmp"
                  Command="Open with Rastery"
                  TargetFile="RasteryExe"
                  Argument="&quot;%1&quot;" />
              </Extension>
              <Extension Id="gif" ContentType="image/gif">
                <Verb
                  Id="open_gif"
                  Command="Open with Rastery"
                  TargetFile="RasteryExe"
                  Argument="&quot;%1&quot;" />
              </Extension>
            </ProgId>
          </Component>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="RasteryProgramMenu" Name="Rastery">
          <Component
            Id="StartMenuCleanup"
            Guid="C79E8C19-9E6B-44EB-90CB-248B2AA6F71E">
            <RemoveFolder Id="RemoveRasteryProgramMenu" On="uninstall" />
            <RegistryValue
              Root="HKCU"
              Key="Software\Rastery"
              Name="StartMenuFolder"
              Type="integer"
              Value="1"
              KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="Complete" Title="Rastery" Level="1" Absent="disallow">
      <ComponentRef Id="ApplicationExecutable" />
      <ComponentRef Id="StartMenuCleanup" />
    </Feature>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UIRef Id="WixUI_InstallDir" />
    <UIRef Id="WixUI_ErrorProgressText" />
  </Product>
</Wix>
